#{extends 'main.html' /}
#{set title:'Display Retrieved Contacts' /}

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Display Contacts <small>stored in database.</small></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 space">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Title</th>
          <th>Company name</th>
          <th>Background</th>
          <th>LinkedIn</th>
          <th>Instant Messenger</th>
          <th>Email</th>
          <th>Twitter</th>
          <th>Address</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody id="display-results"></tbody>
    </table>
  </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">

function nullString(str) {
  return (str == null) ? "None" : str;
}

function displayTableFormat(data) {
  var tableHTML = "";
  for (var c in data.contacts) {
    tableHTML += "<tr>";
    tableHTML += "<td>" + nullString(data.contacts[c].firstName) + "</td>";
    tableHTML += "<td>" + nullString(data.contacts[c].lastName) + "</td>";
    tableHTML += "<td>" + nullString(data.contacts[c].title) + "</td>";
    tableHTML += "<td>" + nullString(data.contacts[c].companyName) + "</td>";
    tableHTML += "<td>" + nullString(data.contacts[c].background) + "</td>";
    tableHTML += "<td>" + ((data.contacts[c].linkedinUrl) ? '<a href="' + data.contacts[c].linkedinUrl + '" target="_blank">Click here</a>' : "None") + "</td>";
    tableHTML += "<td>" + ((data.contacts[c].instantMessengerProtocol) ? data.contacts[c].instantMessengerAddress + "(" + data.contacts[c].instantMessengerProtocol + ")" : "None" ) + "</td>";
    tableHTML += "<td>" + ((data.contacts[c].emailAddress) ? '<a href="mailto:' + data.contacts[c].emailAddress + '">' + data.contacts[c].emailAddress + '</a>' : "None") + "</td>";
    tableHTML += "<td>" + ((data.contacts[c].twitterAccount) ? '<a href="https://twitter.com/' + data.contacts[c].twitterAccount + '" target="_blank">' + data.contacts[c].twitterAccount + '</a>' : "None") + "</td>";
    tableHTML += "<td>" + nullString(data.contacts[c].address) + "</td>";
    tableHTML += "<td>" + ((data.contacts[c].webAddress) ? '<a href="' + data.contacts[c].webAddress + '" target="_blank">' + data.contacts[c].webAddress + '</a>' : "None") + "</td>";
    tableHTML += "</tr>";
  }

  return tableHTML;
}

function loadAllContacts() {
  ContactsRetriever.loadContactsFromDatabase(function( data ) {
    $("#display-results").html(displayTableFormat(data));
  });
}

$(document).ready(function() {
  loadAllContacts();
});

</script>
#{/set}
