#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Retrieve Contacts <small>from HighRise and store to database.</small></h1>
    </div>
  </div>
  <div class="col-md-12">
    <form action="#" method="post" id="tag-form">
      <div class="form-group">
        <label for="tag">Enter tag to retrieve related contacts</label>
        <input type="text" class="form-control" id="tag" placeholder="Enter tag">
      </div>
      <button type="submit" class="btn btn-default" id="tag-submit-btn">Retrieve Now</button>
    </form>
  </div>
  <div class="col-md-12 space">
    <div class="alert alert-success hidden">
      <strong>Success!</strong> You have retrieved <span id="tag-success">0</span> contact(s) from highrise and saved them to database. View retrieved contacts here.
    </div>
    <div class="alert alert-danger hidden">
      <strong>Error!</strong> <span id="tag-error">Something went wrong.</span>
    </div>
  </div>
</div>

#{set 'moreScripts'}
  <script>var targetUrl = "@{Application.loadContactsByTag()}"</script>
  #{script 'load_contacts_by_tag.js' /}
#{/set}
